
body,html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
}

.search_input{
    color: #6c757d;
    border: 0;
    outline: 0;
    background: none;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    width: 450px;
}
.searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:#fff;
    transition: width 0.4s linear;
}

.search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:black;
    text-decoration:none;
}
.container.h-100 {
    padding: 30px 100px 200px;
}
h1 {
    position: relative;
    text-align: center;
}
